body {
    background-color: white;
}

.container {
    margin-top: 80px;
    background-color: lemonchiffon;
    width: 90%;
}

.jumbotron {
  background-color:orange;
}

@media only screen and (max-width: 1400px) {

    .jumbotron {
        margin-top: 6vh;
    }

}

@media only screen and (max-width: 1162px) {

    .jumbotron {
        margin-top: 10vh;
    }

}

@media only screen and (max-width: 760px) {

    .jumbotron {
        margin-top: 30vh;
    }

}